/* ここには、ボタン */



/* プログラミング学習をしたい */
.balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 200px;
  height: 200px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
  top: -5550px;                     /* 位置指定 */
  left: -200px;                     /* 位置指定 */
}
/* プログラミング学習をしたい */
.balloon1:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}

/* アプリを作成したい */
.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 200px;
  height: 200px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
  top: -5800px;                     /* 位置指定 */
  left: 300px;                     /* 位置指定 */
}
/* アプリを作成したい */
.balloon2:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}

/* HPの運用をしたい */
.balloon3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 200px;
  height: 200px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
  top: -5800px;                     /* 位置指定 */
  left: 400px;                     /* 位置指定 */
}
/* HPの運用をしたい */
.balloon3:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}





/* 資料ダウンロード　ボタン1 */
.btn--orange,
a.btn--orange {
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #70a6ff;
  left: 450px;
  top: -3300px;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: rgb(0, 0, 0);
  background: #70a6ff;
}

/* お問合せ　ボタン1 */
.btn--oran,
a.btn--oran {
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #70a6ff;
  left: 500px;
  top: -3300px;
}
.btn--oran:hover,
a.btn--oran:hover {
  color: rgb(0, 0, 0);
  background: #70a6ff;
}

/* 資料ダウンロード　ボタン2 */
.btn--orange2,
a.btn--orange2 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #70a6ff;
  left: 20px;
  top: 50px;
}
.btn--orange2:hover,
a.btn--orange2:hover {
  color: rgb(0, 0, 0);
  background: #70a6ff;
}

/* お問合せ　ボタン2 */
.btn--oran2,
a.btn--oran2 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #70a6ff;
  left: 50px;
  top: 50px;
}
.btn--oran2:hover,
a.btn--oran2:hover {
  color: rgb(0, 0, 0);
  background: #70a6ff;
}

/* 資料ダウンロード　ボタン3 */
.btn--orange3,
a.btn--orange3 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #70a6ff;
  left: -500px;
  top: 1870px;
}
.btn--orange3:hover,
a.btn--orange3:hover {
  color: rgb(0, 0, 0);
  background: #70a6ff;
}

/* お問合せ　ボタン3 */
.btn--oran3,
a.btn--oran3 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #70a6ff;
  left: 800px;
  top: 1700px;
}
.btn--oran3:hover,
a.btn--oran3:hover {
  color: rgb(0, 0, 0);
  background: #70a6ff;
}

/* 資料ダウンロード　ボタン4 */
.btn--orange4,
a.btn--orange4 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #70a6ff;
  left: 50px;
  top: 2700px;
}
.btn--orange4:hover,
a.btn--orange4:hover {
  color: rgb(0, 0, 0);
  background: #70a6ff;
}

/* お問合せ　ボタン4 */
.btn--oran4,
a.btn--oran4 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  background-color: #70a6ff;
  left: 100px;
  top: 2700px;
}
.btn--oran4:hover,
a.btn--oran4:hover {
  color: rgb(0, 0, 0);
  background: #70a6ff;
}



















/* ボタン */
.bg_test3 {
  position: relative; /* 今の位置を基準 */
  color:  #fff;                       /* 文字色指定 */
  background-color: #00BCD4;          /* 背景色指定 */
  display:  block;                    /* ブロック要素にする */
  width:  300px;                      /* 幅指定 */
  padding:  15px;                     /* 余白指定 */
  font-size:  20px;                   /* 文字サイズ指定 */
  text-decoration:  none;             /* デフォルトCSS打ち消し */
  border-radius:  5px;                /* 角丸指定 */
  box-shadow: 0 4px 0 0px #028d9e;    /* 影指定 */
  float:  center;                  /* 位置指定 */
  top: 5000px;                     /* 位置指定 */
  margin: auto;
    text-align: center;
}