/* ここには、ボタン */

/* 吹き出し1-1 */
.balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 200px;
  height: 200px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
  top: -5400px;                     /* 位置指定 */
  left: 300px;                     /* 位置指定 */
}
/* 吹き出し1-2 */
.balloon1:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}

/* 吹き出し2-1 */
.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 200px;
  height: 200px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
  top: -5400px;                     /* 位置指定 */
  left: 450px;                     /* 位置指定 */
}
/* 吹き出し2-2 */
.balloon2:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}

/* 吹き出し3-1 */
.balloon3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 200px;
  height: 200px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
  top: -5400px;                     /* 位置指定 */
  left: 600px;                     /* 位置指定 */
}
/* 吹き出し3-2 */
.balloon3:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}


/* ボタン */
.bg_test3 {
  position: relative; /* 今の位置を基準 */
  color:  #fff;                       /* 文字色指定 */
  background-color: #00BCD4;          /* 背景色指定 */
  display:  block;                    /* ブロック要素にする */
  width:  300px;                      /* 幅指定 */
  padding:  15px;                     /* 余白指定 */
  font-size:  20px;                   /* 文字サイズ指定 */
  text-decoration:  none;             /* デフォルトCSS打ち消し */
  border-radius:  5px;                /* 角丸指定 */
  box-shadow: 0 4px 0 0px #028d9e;    /* 影指定 */
  float:  center;                  /* 位置指定 */
  top: -5000px;                     /* 位置指定 */
  margin: auto;
    text-align: center;
}