/* ここには、画像とテキスト */


/* 青い背景画像と学習する男の子はリンク*/
/* 上が背景ね */
.relative {
  position: relative;
  top: 200px;
  text-align: center;
} 
/* 学習する男の子画像と青い背景はリンク */
.image1 {
  position: absolute;
  right: 0px;
  bottom: 200px;
}

/* 半円黒 */
.circle {
  position: relative;
  width: 700px;
  height: 600px;
  border-radius: 0 50% 50% 0% / 50%;
  background: hwb(0 0% 100%);
  bottom: 200px;
  left: 0x; /* 左から20px */
}

/* 学習する女の子*/
.image2 {
  position: relative;
  top: 2000px;
  text-align: left;
}

/* 学習する集団*/
.image3 {
  position: relative;
  top: 400px;
  text-align: center;
}





/* キーボード背景画像と青い背景2はリンク*/
/* 上が背景ね */
.intermediate {
  position: relative;
  top: -300px;
  text-align: center;
  left: -630px;
} 
/* PC画像背景と青い背景2はリンク*/
.image4 {
  position: absolute;
  top: -100px;
  text-align: center;
}

/* こんな悩みはありませんか? */
.box1 {
  color: #000000;
  font-size: 50px;
  height: 500px;
  left: 400px;
  top: 1000px;
  position: absolute;
  text-align: center;
}


/* 完全転職者向けプログラミングスクール */
.box2 {
  color: #ffffff;
  font-size: 50px;
  height: 500px;
  left: 100px;
  top: 500px;
  position: absolute;
  text-align: center;
}

/* これはPタグの修正で使用している */
p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) /* ズレを補修 */
}
