/* ここには、画像とテキスト */


/* 青い背景画像と学習する男の子はリンク*/
/* 上が背景ね */
.relative {
  position: relative;
  top: 200px;
  text-align: center;
} 
/* 学習する男の子画像と青い背景はリンク */
.image1 {
  position: absolute;
  right: 0px;
  bottom: 200px;
}

/* 半円黒 */
.circle {
  position: relative;
  width: 700px;
  height: 600px;
  border-radius: 0 50% 50% 0% / 50%;
  background: hwb(0 0% 100%);
  bottom: 200px;
  left: 0x; /* 左から20px */
}

/* 学習する女の子*/
.image2 {
  position: relative;
  top: 3000px;
  text-align: left;
}

/* 学習する人たち*/
.image3 {
  position: relative;
  top: 400px;
  text-align: center;
}

/* PC画像と青い背景2はリンク*/
/* 上が背景ね */
.intermediate {
  position: relative;
  top: -300px;
  text-align: center;
  left: -630px;
} 
/* PC画像背景と青い背景2はリンク*/
.image4 {
  position: absolute;
  top: 400px;
  text-align: center;
}

/* 黒い背景*/
.image5 {
  position: relative;
  top:  700px;
  text-align: center;
}

/* 青い背景*/
.image6 {
  position: relative;
  top:  900px;
  text-align: center;
}

/* 黒い背景*/
.image7 {
  position: relative;
  top:  2000px;
  text-align: center;
}

