/* こんな悩みはありませんか? */
.box1 {
  color: #000000;
  font-size: 50px;
  height: 500px;
  left: 400px;
  top: 1000px;
  position: absolute;
  text-align: center;
}


/* 完全転職者向けプログラミングスクール */
.box2 {
  color: #ffffff;
  font-size: 50px;
  height: 500px;
  left: 100px;
  top: 450px;
  position: absolute;
  text-align: center;
}

/* 提供サービス */
.box3 {
  color: #ffffff;
  font-size: 50px;
  height: 500px;
  left: 500px;
  top: 2700px;
  position: absolute;
  text-align: center;
}

/* お気軽にご相談ください(1分で完了) */
.box4 {
  color: #000000;
  font-size: 30px;
  height: 500px;
  left: 100px;
  top: 3350px;
  position: absolute;
  text-align: center;
}


/* 特徴 */
.box5 {
  color: #ffffff;
  font-size: 50px;
  height: 500px;
  left: 600px;
  top: 3700px;
  position: absolute;
  text-align: center;
}

/* 検証ポイント */
.box6 {
  color: #000000;
  font-size: 50px;
  height: 500px;
  left: 500px;
  top: 4700px;
  position: absolute;
  text-align: center;
}

/* ライトアカデミーのPDCA */
.box7 {
  color: #ffffff;
  font-size: 50px;
  height: 500px;
  left: 400px;
  top: 5800px;
  position: absolute;
  text-align: center;
}

/* お気軽にご相談ください 順番間違えた*/
.box13 {
  color: #ffffff;
  font-size: 40px;
  height: 500px;
  left: 100px;
  top: 6650px;
  position: absolute;
  text-align: center;
}

/* プロモーション開始までのステップ */
.box8 {
  color: #000000;
  font-size: 50px;
  height: 500px;
  left: 300px;
  top: 7000px;
  position: absolute;
  text-align: center;
}

/* 費用 */
.box9 {
  color: #ffffff;
  font-size: 50px;
  height: 500px;
  left: 600px;
  top: 8000px;
  position: absolute;
  text-align: center;
}

/* お気軽にご相談ください */
.box10 {
  color: #ffffff;
  font-size: 40px;
  height: 500px;
  left: 100px;
  top: 8500px;
  position: absolute;
  text-align: center;
}

/* Q&A */
.box11 {
  color: #000000;
  font-size: 50px;
  height: 500px;
  left: 600px;
  top: 8700px;
  position: absolute;
  text-align: center;
}

/* お気軽にご相談ください */
.box12 {
  color: #ffffff;
  font-size: 40px;
  height: 500px;
  left: 100px;
  top: 9500px;
  position: absolute;
  text-align: center;
}

/* テキスト 提供サービスの下*/
.box14 {
  color: #ffffff;
  font-size: 30px;
  height: 500px;
  left: 200px;
  top: 2900px;
  position: absolute;
  text-align: center;
}

/* 現代においての必須知識を学習し、未来永劫、輝ける人物を輩出します。 */
.box15 {
  color: #ffffff;
  font-size: 30px;
  height: 500px;
  left: 100px;
  top: 650px;
  position: absolute;
  text-align: center;
}

/* ライト */
.box16 {
  color: #ffffff;
  font-size: 40px;
  height: 500px;
  left: 100px;
  top: 9700px;
  position: absolute;
  text-align: center;
}














/* これはPタグの修正で使用している */
p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) /* ズレを補修 */
}
